<p>
  <b>Parcel number:</b>
  <%=h @covecaysale.parcel_number %>
</p>

<p>
  <b>Property address:</b>
  <%=h @covecaysale.property_address %>
</p>

<p>
  <b>Condo name:</b>
  <%=h @covecaysale.condo_name %>
</p>

<p>
  <b>Sale date:</b>
  <%=h @covecaysale.sale_date %>
</p>

<p>
  <b>Sale price:</b>
  <%=h @covecaysale.sale_price %>
</p>

<p>
  <b>Year built:</b>
  <%=h @covecaysale.year_built %>
</p>

<p>
  <b>Sq ft:</b>
  <%=h @covecaysale.sq_ft %>
</p>

<p>
  <b>Land use:</b>
  <%=h @covecaysale.land_use_id %>
</p>

<p>
  <b>Subdivision:</b>
  <%=h @covecaysale.subdivision_id %>
</p>

<p>
  <b>Cc village:</b>
  <%=h @covecaysale.cc_village %>
</p>

<p>
  <b>Cc building:</b>
  <%=h @covecaysale.cc_building %>
</p>

<p>
  <b>Cc unit:</b>
  <%=h @covecaysale.cc_unit %>
</p>

<p>
  <b>Sale month:</b>
  <%=h @covecaysale.sale_month %>
</p>

<p>
  <b>Sale year:</b>
  <%=h @covecaysale.sale_year %>
</p>


<%= link_to 'Edit', edit_covecaysale_path(@covecaysale) %> |
<%= link_to 'Back', covecaysales_path %>
